.root {
  position: relative;
  font-size: 12px;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}
.root button {
  position: absolute;
  right: -0.8em;
  top: -0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border: 0;
  padding: 0;
  width: 1.6em;
  height: 1.6em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
}
.root dl,
.root dt,
.root dd {
  margin: 0;
  padding: 0;
}
.root dl {
  margin: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.3em 0.5em;
}
.root dt {
  font-weight: bold;
}
.root dd input {
  font-size: 100%;
}
